
#abtestingtoolbar .abtestingseparator {
    padding:0 10px;
}

#abtestingtoolbar {
    background: url("img/bg-abtesting.png") no-repeat scroll right top #333333 !important;
    border-top: 4px solid #3399FF !important;
    padding: 6px;
    line-height:24px;
    color:#FFF;
    width:100%;
}

#abtestingtoolbar a,#abtestingtoolbar a:link, #abtestingtoolbar a:visited{
	width:auto;
    color: #fff;
	padding:4px;
	vertical-align: middle;
	display:inline;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:11px !important;
	line-height:16px;
	margin-bottom:5px;
	margin-top:2px;
	text-decoration:none
}
#abtestingtoolbar a:hover, #abtestingtoolbar a:active,
#abtestingtoolbar a.selected,#abtestingtoolbar a.selected:link, #abtestingtoolbar a.selected:visited,#abtestingtoolbar a.selected:hover, #abtestingtoolbar a.selected:active{
    background:#fff url(img/bgabtesting-a.png) repeat-x top left;
    color: #39f;
	cursor: pointer;
	text-decoration:none;
}